<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="apiAdvertIdDelete"></a>apiAdvertIdDelete</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/advert/{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiAdvertIdGet"></a>apiAdvertIdGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/advert/{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_1"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiAdvertIdPost"></a>apiAdvertIdPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/advert/{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiAdvertsGet"></a>apiAdvertsGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/adverts</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">search</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">category</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">price</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">city</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiAdvertsPost"></a>apiAdvertsPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/adverts</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">search</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">category</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">price</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">city</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">List(body_1)</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiAllfalseGet"></a>apiAllfalseGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/allfalse</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_1"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
  </ul>
  <h2><a name="apiContactGet"></a>apiContactGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/contact</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_2"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
  </ul>
  <h2><a name="apiContactPost"></a>apiContactPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/contact</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">Body_2(Body_2)</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiFavGet"></a>apiFavGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/fav</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_1"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">search</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiFavidPost"></a>apiFavidPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/fav{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiMailmailGet"></a>apiMailmailGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/mail{mail}</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">mail</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiMessidDelete"></a>apiMessidDelete</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/mess{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiMessidGet"></a>apiMessidGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/mess{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="apicontact_old"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="apiMessidPost"></a>apiMessidPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/api/mess{id}</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
</div>
