<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="authPost"></a>authPost</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/auth</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">Body(Body)</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
</div>
