<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="ipGet"></a>ipGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://213.112.82.163:5000/ip</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200"><a href="">inline_response_200</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
  </ul>
</div>
