
<h2>Apicontact_new</h2>
<ul class="parameter">
  <li class="param-required-false">_id : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">message : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">info : Object
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">new : Boolean
    <br/>
  </li>
</ul>
