
<h2>Body_2</h2>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">message : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">info : Object
    <br/>
  </li>
</ul>
