
<h2>Inline_response_200</h2>
<ul class="parameter">
  <li class="param-required-false">range : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">country : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">region : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">eu : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">timezone : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">city : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">ll : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">metro : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">area : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">ip : String
    <br/>
  </li>
</ul>
