
<h2>Inline_response_200_1</h2>
<ul class="parameter">
  <li class="param-required-false">_id : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">title : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">description : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">price : BigDecimal
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">seller : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">mail : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">category : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">ok : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">phone : BigDecimal
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">img : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">fav : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">city : String
    <br/>
  </li>
</ul>
