
<h2>Inline_response_200_2</h2>
<ul class="parameter">
  <li class="param-required-false">new : apicontact_new
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">old : apicontact_old
    <br/>
  </li>
</ul>
